{
	"debug": true,
	"prefix": {
		"pattern": "^[!/$]",
		"command": "/",
		"variable": "$",
		"macro": "!"
	},
	"token": "<your token here>",
	"database": {
		"dialect": "sqlite",
		"storage": "arpsbot.sqlite"
	},
	"gm_role": "-gm$"
}
